@import 'https://fonts.googleapis.com/css?family=Exo+2:400,700,700i';
@import 'https://fonts.googleapis.com/css?family=Montserrat';

/*seccion de etiquetas */

html {
	overflow-x:hidden; 
}

body {
	font-family: 'Montserrat', sans-serif;
}

h1,h2,h3,h4,h5,h6, a, a:hover {
	font-family: 'Exo 2', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
	color: #0F5EA8;
	font-size: 2em;
}

h3 {
	font-size: .6em;
	text-transform: uppercase;
}

h4 {
	color: white;
	font-size: 1.2em;
}

a {
	color: white;
}

a:hover {
	color: #FCB800;
}

ul {
	list-style: none;
}

.encabezado-logotipo {
	position: absolute;
	z-index: 1;
	top: 30px;
	left: 30px;
	width: 25%;
}

.encabezado-redes_sociales, .encabezado-contenedorm {
	position: absolute;
	right: 0;
	z-index: 1;
	background-color: #25A7C5;
}

.encabezado-redes_sociales{
	font-size: 2em;
}

.boton-menu {
	position: absolute;
	top: 40px;
	right: 10px;
	z-index: 1;
	font-size: 2em;
	color: #25A7C5;
}

.encabezado-contenedorm-menu{
	display: none;
}

/*seccion de acerca y servicios*/

.acerca{
	text-align: center;
	margin: 0 0 2em 0;
}

.acerca-icono {
	width: 30%;
}

.boton-amarillo{
	background: #FCB700;
	color:white;
	text-transform: uppercase;
	border:none;
	padding: .5em;
}

.servicios {
	background-color: #2281DB;
	text-align: center;
	margin: 0 0 1em 0;
	position: absolute;
	right: 0;
	top:530px;
}

.servicios-titulo{
	color:white;
}

.servicio-iconos{
	width: 150px;
}

.servicio-iconosb{
	width: 80px;
}

.menu>li>a {
	font-size: .7em;
	padding: .5em;
}

/*seccion de asociados*/
.orbit, .orbit-slide{
	width: 100%;
}

.asociados{
	background-color: #F9F9F9;
}

.asociados-titulo{
	text-align: center;
}

.asociados-cuadro-blanco{
	background-color: white;
	padding: 1em 1.2em;
}

.asociados-cuadro-color-Verde{
	background-color: #A9C350;
	padding: 1em 1.2em;
}

.asociados-cuadro-color-Rojo{
	background-color: #C5364C;
	padding: 1em 1.2em;
}

.asociados-cuadro-color-AzulFuerte{
	background-color: #3861A5;
	padding: 1em 1.2em;
}

.asociados-cuadro-color-AzulCielo{
	background-color: #60A6C3;
	padding: 1em 1.2em;
}

.asociados-cuadro-color-AzulMedio{
	background-color: #4f80d7;
	padding: 1em 1.2em;
}

.asociados-cuadro-color-Verde>h3, .asociados-cuadro-color-Rojo>h3, .asociados-cuadro-color-AzulFuerte>h3, .asociados-cuadro-color-AzulCielo>h3, .asociados-cuadro-color-AzulMedio>h3{
	color: white;
}

.asociados-cuadro-blanco .boton-amarillo,.asociados-cuadro-color-Verde .boton-amarillo, .asociados-cuadro-color-Rojo .boton-amarillo, .asociados-cuadro-color-AzulFuerte .boton-amarillo, .asociados-cuadro-color-AzulCielo .boton-amarillo, .asociados-cuadro-color-AzulMedio .boton-amarillo{
	margin: .5em 0 .5em 0;
}
.aa:before {
	content: "A.A. ";
}

.aa {
	font-size: .8em;
}

.asociados-cuadro-blanco>h3, .asociados-cuadro-blanco>.aa {
	color:black;
	width: 80%;
	margin: auto;
	padding: .2em .2em;
}

.logo{
	width: 100px;
	padding: .5em 0;
}

/* Seccion de enlaces y requisitos */

#enlaces_requisitos{
	background-image: url(../img/Home_Requisitos.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
    background-origin: content-box;
	height: 450px;
}

.enlaces-caja{
	width: 50%;
	height: 40%;
	background-color: #1B2C4D;
}

.enlaces-caja>a{
	display: block;
}

.enlaces-caja>a>p{
	display: inline-block;
}

.enlaces-iconosb{
	width: 50px;
}

.requisitos-eslogan{
	margin: 3em auto;
}
/* Clases diseño movil */

@media only screen and (max-width: 500px){
	.orbit{
		height: 100vh;
	}
	.orbit-slide {
		width: 225vh;
	}
	.orbit-previous,.orbit-next{
		display: none;
	}
	.encabezado-redes_sociales{
		bottom: 0;
	}
	.encabezado-logotipo{
		width: 70%;
	}
	.boton-menu{
		color:white;
	}
	
	/*seccion de acerca y servicios*/
	.acerca-icono {
		width: 50%;
	}
	.servicio-iconosb{
		width: 95px;
	}
	.servicios {
		position: initial;
		right: initial;
		top: initial;
	}
}
