@import 'https://fonts.googleapis.com/css?family=Exo+2:400,700,700i';
@import 'https://fonts.googleapis.com/css?family=Montserrat';

body {
	font-family: 'Montserrat', sans-serif;
}

h1,h2,h3,h4,h5,h6, a, a:hover {
	font-family: 'Exo 2', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
	color: #0F5EA8;
	font-size: 2em;
}

a {
	color: white;
}

a:hover {
	color: #FCB800;
}

ul {
	list-style: none;
}

.encabezado-logotipo {
	position: absolute;
	z-index: 1;
	top: 30px;
	left: 30px;
	width: 25%;
}

.encabezado-redes_sociales, .encabezado-contenedorm {
	position: absolute;
	right: 0;
	z-index: 1;
	background-color: #25A7C5;
}

.encabezado-redes_sociales{
	font-size: 1.5em;
}

.boton-menu {
	position: absolute;
	top: 40px;
	right: 10px;
	z-index: 1;
	font-size: 2em;
	color: #25A7C5;
}

.encabezado-contenedorm-menu{
	display: none;
}

.acerca{
	text-align: center;
	margin: 2em 0;
}

.acerca-icono {
	width: 30%;
}

.boton-amarillo{
	background: #FCB700;
	color:white;
	text-transform: uppercase;
	border:none;
	padding: .5em;
}

.servicios {
	background-color: #2281DB;
}

.servicios-titulo{
	color:white;
}

/* Clases de foundation */

@media only screen and (max-width: 500px){
	.orbit{
		height: 100vh;
	}
	.orbit-slide {
		width: 225vh;
	}
	.orbit-previous,.orbit-next{
		display: none;
	}
	.encabezado-redes_sociales{
		bottom: 0;
	}
	.encabezado-logotipo{
		width: 70%;
	}
	.boton-menu{
		color:white;
	}

	.acerca-icono {
	width: 50%;
}
}
